@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body ul {
  cursor: pointer;
  list-style: none;
}
* body button {
  cursor: pointer;
}
* body svg {
  cursor: pointer;
}
* body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: 800px;
  background-image: url(../img/big_beground_img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2bbef3;
  margin: 0 auto;
}
* body header .header {
  display: flex;
  justify-content: space-between;
  max-width: 1352px;
  transform: translateY(-220px);
  width: 100%;
  margin: 0 auto;
}
* body header .header .alot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
* body header .header .alot ul {
  max-width: 310px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
* body header .header .alot ul li {
  color: #fff;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}
* body header .header .alot button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 56px;
  border-radius: 28px;
  background: #fff;
  border: 2px solid #fff;
}
* body header .header .alot button p {
  color: #24303e;
  font-family: "Fraunces 9pt Soft";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
}
* body header .header .alot button:hover {
  width: 140px;
  height: 56px;
  border-radius: 28px;
  background: #74cdee;
  border: 2px solid #74cdee;
}
* body header .header .alot button:hover p {
  color: #fff;
  font-family: "Fraunces 9pt Soft";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.107px;
  text-transform: uppercase;
}
* body header h1 {
  transform: translateY(-100px);
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 8.75px;
  text-transform: uppercase;
}
* body header .arrow {
  transform: translateY(-80px);
  padding-top: 96px;
  margin: 0 auto;
}
* body main {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
* body main .main_one .one {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
* body main .main_one .one .speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  width: 100%;
}
* body main .main_one .one .speaker .spek {
  max-width: 445px;
  width: 100%;
}
* body main .main_one .one .speaker .spek h4 {
  max-width: 370px;
  width: 100%;
  color: #24303e;
  font-family: "Fraunces 9pt Soft";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}
* body main .main_one .one .speaker .spek h5 {
  padding-top: 30px;
  color: #808397;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.129px;
  padding-bottom: 40px;
}
* body main .main_one .one .speaker .spek .buttton {
  width: 137px;
  height: 25px;
}
* body main .main_one .one .speaker .spek .buttton h6 {
  cursor: pointer;
  margin: 0 auto;
  padding-top: 27px;
  transform: translateY(-30px);
  max-width: 120px;
  width: 100%;
  color: #24303e;
  font-family: "Fraunces 9pt Soft";
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
* body main .main_one .one .speaker .spek .buttton .yellow {
  cursor: pointer;
  transform: translateY(-40px);
  width: 137px;
  height: 10px;
  border-radius: 28px;
  opacity: 0.25;
  background: #fad400;
}
* body main .main_one .one .eggs {
  max-width: 720px;
  width: 100%;
}
* body main .main_one .twoo {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
* body main .main_one .twoo .speaker {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  width: 100%;
}
* body main .main_one .twoo .speaker .spek {
  max-width: 445px;
  width: 100%;
}
* body main .main_one .twoo .speaker .spek h4 {
  max-width: 370px;
  width: 100%;
  color: #24303e;
  font-family: "Fraunces 9pt Soft";
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.286px;
}
* body main .main_one .twoo .speaker .spek h5 {
  padding-top: 30px;
  color: #808397;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  letter-spacing: -0.129px;
  padding-bottom: 40px;
}
* body main .main_one .twoo .speaker .spek .buttton {
  width: 137px;
  height: 25px;
}
* body main .main_one .twoo .speaker .spek .buttton h6 {
  cursor: pointer;
  margin: 0 auto;
  padding-top: 27px;
  transform: translateY(-30px);
  max-width: 120px;
  width: 100%;
  color: #24303e;
  font-family: "Fraunces 9pt Soft";
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 166.667% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
* body main .main_one .twoo .speaker .spek .buttton .yellow {
  cursor: pointer;
  transform: translateY(-40px);
  width: 137px;
  height: 10px;
  border-radius: 28px;
  opacity: 0.25;
  background: #fe7766;
}
* body main .main_one .twoo .eggs {
  max-width: 720px;
  width: 100%;
}
* body main .main_one .tree {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
}
* body main .main_one .tree .four {
  display: flex;
  justify-content: center;
  align-items: end;
  max-width: 720px;
  width: 100%;
  height: 600px;
  background-image: url(../img/olcha.png);
}
* body main .main_one .tree .four .spekes {
  max-width: 340px;
  width: 100%;
  padding-bottom: 60px;
}
* body main .main_one .tree .four .spekes h6 {
  color: #24554a;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
  padding-bottom: 30px;
}
* body main .main_one .tree .four .spekes p {
  color: #24554a;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  letter-spacing: -0.114px;
}
* body main .main_one .tree .five {
  display: flex;
  justify-content: center;
  align-items: end;
  max-width: 720px;
  width: 100%;
  height: 600px;
  background-image: url(../img/mandarin.png);
  background-repeat: no-repeat;
  background-position: center center;
}
* body main .main_one .tree .five .spekes {
  max-width: 340px;
  width: 100%;
  padding-bottom: 60px;
}
* body main .main_one .tree .five .spekes h6 {
  color: #24554a;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.2px;
  padding-bottom: 30px;
}
* body main .main_one .tree .five .spekes p {
  color: #24554a;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 168.75% */
  letter-spacing: -0.114px;
}
* body main .main_twoo {
  padding-top: 160px;
  padding-bottom: 160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1110px;
  width: 100%;
}
* body main .main_twoo p {
  padding-bottom: 80px;
  color: #a7aaad;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 5px;
  margin: 0 auto;
}
* body main .main_twoo .uchta {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1110px;
  width: 100%;
}
* body main .main_twoo .uchta .bir {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 350px;
  width: 100%;
}
* body main .main_twoo .uchta .bir .oval {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
* body main .main_twoo .uchta .bir p {
  padding-top: 60px;
  color: #5b636d;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.129px;
  padding-bottom: 70px;
}
* body main .main_twoo .uchta .bir .emaly {
  padding-bottom: 60px;
  margin: 0 auto;
  display: flex;
  width: 203px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
* body main .main_twoo .uchta .bir .emaly h5 {
  color: #24303e;
  text-align: center;
  font-family: "Fraunces 9pt Soft";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: -0.129px;
}
* body main .main_twoo .uchta .bir .emaly h5 ul li {
  color: #a7aaad;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 178.571% */
  letter-spacing: -0.1px;
}
* body footer {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}
* body footer .footer_one {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
* body footer .footer_one img {
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
}
* body footer .footer_twoo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  background: #90d4c6;
  height: 350px;
}
* body footer .footer_twoo .footer_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 297px;
  width: 100%;
}
* body footer .footer_twoo .footer_center img {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}
* body footer .footer_twoo .footer_center .ulli {
  display: flex;
  justify-content: space-between;
  max-width: 297px;
  width: 100%;
}
* body footer .footer_twoo .footer_center .ulli ul {
  max-width: 297px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
* body footer .footer_twoo .footer_center .ulli ul li {
  color: #458d7e;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}
* body footer .footer_twoo .footer_center .ulli li:hover {
  color: #fff;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 138.889% */
  letter-spacing: -0.129px;
}
* body footer .footer_twoo .footer_center .icons {
  padding-top: 88px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 164px;
  height: 20px;
}
* body footer .footer_twoo .footer_center .icons .fasebook svg path {
  fill: #2c7566;
}
* body footer .footer_twoo .footer_center .icons .fasebook svg path:hover {
  fill: #ffffff;
}
* body footer .footer_twoo .footer_center .icons .twiter svg path {
  fill: #2c7566;
}
* body footer .footer_twoo .footer_center .icons .twiter svg path:hover {
  fill: #ffffff;
}
* body footer .footer_twoo .footer_center .icons .instagram svg path {
  fill: #2c7566;
}
* body footer .footer_twoo .footer_center .icons .instagram svg path:hover {
  fill: #ffffff;
}
* body footer .footer_twoo .footer_center .icons .NETLIFE svg path {
  fill: #2c7566;
}
* body footer .footer_twoo .footer_center .icons .NETLIFE svg path:hover {
  fill: #ffffff;
}

@media (max-width: 700px) {
  body header {
    max-width: 1440px;
    width: 100%;
    height: 800px;
  }
  body header .header {
    padding-top: 50px;
  }
  body header .header .alot {
    display: none;
  }
  * body header .arrow {
    transform: translateY(-120px);
  }
  body header h1 {
    color: #fff;
    text-align: center;
    font-family: "Fraunces 9pt Soft";
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 6.25px;
    text-transform: uppercase;
  }
}
@media (min-width: 700px) {
  body header .header .threelines {
    display: none;
  }
}
@media (max-width: 1440px) {
  body main .main_one .one .eggs {
    margin: 0 auto;
  }
  body main .main_one .one .speaker {
    margin: 0 auto;
    padding-top: 65px;
  }
  * body main .main_one .one .speaker .spek h4 {
    color: #24303e;
    margin: 0 auto;
    text-align: center;
    font-family: "Fraunces 9pt Soft";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.229px;
  }
  body main .main_one .one .speaker .spek h5 {
    max-width: 327px;
    margin: 0 auto;
    width: 100%;
    color: #808397;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.129px;
  }
  body main .main_one .one .speaker .spek .buttton {
    margin: 0 auto;
    padding-bottom: 65px;
  }
}
@media (max-width: 1440px) {
  body main .main_one .twoo .eggs {
    margin: 0 auto;
  }
  body main .main_one .twoo .speaker {
    margin: 0 auto;
    padding-top: 65px;
  }
  * body main .main_one .twoo .speaker .spek h4 {
    color: #24303e;
    margin: 0 auto;
    text-align: center;
    font-family: "Fraunces 9pt Soft";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.229px;
  }
  body main .main_one .twoo .speaker .spek h5 {
    max-width: 327px;
    margin: 0 auto;
    width: 100%;
    color: #808397;
    text-align: center;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
    letter-spacing: -0.129px;
  }
  body main .main_one .twoo .speaker .spek .buttton {
    margin: 0 auto;
    padding-bottom: 65px;
  }
}
@media (max-width: 1440px) {
  * body main .main_one .tree .four {
    margin: 0 auto;
  }
  * body main .main_one .tree .five {
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */